.user-nav {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

.body-content {
    position: relative;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2000;
}
