#root {
    padding: 0;
    margin: 0;
    height: 100%;
}
body,
html {
    height: 100%;
}

.form-container {
    top: 10%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.form-block {
    margin: 10px auto 20px auto;
}

h2.header {
    text-align: center;
}

.logout {
    color: #ffffff;
    cursor: pointer;
}
