#root {
    padding: 0;
    margin: 0;
    min-height: 100%;
}
body,
html {
    min-height: 100%;
}
.home-layout {
    min-height: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1505796215109-a97d9dd14561?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80'); */
    background-image: url('../images/landing_page.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1.home-slogan {
    position: relative;
    font-size: 3em;
    top: 30%;
}
p.home-content {
    position: relative;
    font-size: 1.25em;
    line-height: 1.5em;
    top: 40%;
}

.login-button {
    position: relative;
    top: 55%;
    width: 100%;
}

.title {
    position: absolute;
    top: 30%;
    width: 100%;
}
