#root {
    padding: 0;
    margin: 0;
    height: 100%;
}
body,
html {
    height: 100%;
}

nav.user-nav {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

.login-container {
    top: 10%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.login-block {
    margin: 10px auto 20px auto;
}

h2.login {
    text-align: center;
}
