#root {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: inherit;
}
body,
html {
    height: 100%;
}

body {
    position: relative;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}
/* Navbar */
/*  */
nav.user-nav {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

/* ListPost */
/*  */
.post {
    height: 15em;
    border-radius: 2px;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.post:hover {
    background-color: rgb(248, 246, 246);
    box-shadow: 1px 1px 1px rgb(194, 193, 193);
}

.img-demo {
    width: 98%;
    height: 98%;
    margin-top: auto;
    margin-bottom: auto;
}

.rate p {
    top: 5%;
    position: relative;
}
.rate button {
    top: 50%;
    position: relative;
}
.rented-rate {
    font-size: 1.5em;
    color: #f25202;
    cursor: pointer;
}

/* Review */
/*  */
.star {
    visibility: hidden;
    font-size: 20px;
    cursor: pointer;
    margin-right: 8px;
}
.star:before {
    content: '\2606';
    position: absolute;
    visibility: visible;
    color: red;
}
.star:checked:before {
    content: '\2605';
    position: absolute;
    color: yellow;
}

.star-rating {
    visibility: hidden;
    font-size: 20px;
    cursor: pointer;
    margin-right: 8px;
}
.star-rating:before {
    content: '\2605';
    position: absolute;
    visibility: visible;
    color: yellow;
}

.rating,
.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-row button {
    height: 2.4rem;
}

.review {
    line-height: 1.25rem;
}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.user_avatar {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50%;
}

p {
    line-height: 1;
}

/* Icon */
.fas {
    margin-right: 10px;
}

.fab-icon {
    font-size: 1.5em;
}

/* z-index */
.search-bar {
    padding: 10px 0px 0 15px;
    z-index: 1000;
    background-color: #ffffff;
}

.user-nav {
    z-index: 1001;
}

footer {
    padding: 1.5em;
}

/* Responsive */
/*  */
@media (max-width: 576px) {
    body {
        font-size: 11px;
    }
    .img-demo {
        max-height: 20em;
    }
    .info {
        height: 10em;
    }
    .rate {
        height: 10em;
    }
    .post {
        height: 40em;
    }
    .search-bar {
        display: none;
    }
    .introduce {
        max-width: 60% !important;
    }
    .contact {
        max-width: 30%;
    }
    .space {
        max-width: 0%;
    }
}

@media (min-width: 576px) {
    body {
        font-size: 12px;
    }
    .introduce {
        max-width: 60% !important;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 13px;
    }
    .facilities label {
        max-width: 60%;
    }
}
@media (max-width: 768px) {
    .facilities label {
        max-width: 50% !important;
    }
    .face {
        max-width: 50%;
    }
    .ins {
        max-width: 25%;
    }
    .youtube {
        max-width: 25%;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 15px;
    }
    .facilities label {
        max-width: 60%;
    }
}
@media (max-width: 992px) {
    .facilities label {
        max-width: 60% !important;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.9em;
}

h4 {
    font-size: 1.5em;
}

.facilities {
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem 0.1em 0.75em;
    max-height: 38px;
}

.facilities label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    max-height: 100%;
}
.facilities label:hover {
    overflow: visible;
}

.btn-add {
    font-size: 1em;
}

a:hover {
    text-decoration: none;
}

.logo {
    width: 2em;
    height: 2em;
    margin-right: 0.2em;
    margin-left: 0.5em;
}

.list {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
