#root {
    padding: 0;
    margin: 0;
    height: 100%;
}
body,
html {
    height: 100%;
}

nav.user-nav {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

.signup-layout {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
}

.signup-container {
    top: 10%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.signup-block {
    margin: 10px auto 20px auto;
}

p.slogan {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    top: 25%;
}

.link-signup {
    position: relative;
    top: 30%;
}

h2.signup {
    text-align: center;
    /* color: #599785; */
}

.text-link {
    color: black;
    padding-top: 8px;
}
.text-link:hover {
    color: #00f;
}

.dis {
    margin-right: 10px;
}
