tr {
    cursor: pointer;
}

p:hover {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    /* color: green; */
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td#name {
    width: 120px;
}

td#view {
    width: 60px;
}

td#area {
    width: 100px;
    text-align: left;
}

td#view {
    width: 100px;
}

td#time_post {
    width: 100px;
    text-align: left;
}

td#status {
    width: 150px;
}

td#detail {
    width: 100px;
}

td#notif-del {
    width: 10%;
    text-align: center;
}

table.notif {
    overflow: scroll;
}

td#title-notif-owner {
    width: 60%;
}

td#title-notif-admin {
    width: 70%;
}

td#review {
    width: 25%;
}
