.footer-box {
    position: fixed;
    padding: 2.5em 0 0 0;
    bottom: 0;
    width: 100%;
    /* height: 90px; */
    background: white;
}

.text-footer {
    background-color: rgba(0, 0, 0, 0.2);
}

#p-footer {
    margin-left: -0.5em;
}
